<form method="post" action="{{ path('panne_delete', {'id': panne.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panne.id) }}">
    <button class="btn">Delete</button>
</form>
